@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Mochiy Pop One', sans-serif;
}

h1,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1:hover,
footer a:hover {
  color: #00ade1;
  filter: drop-shadow(0 0 25px #00ade1);
}

li {
  list-style-type: none;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 20px;
}

footer a {
  text-decoration: none;
  color: black;
}